/* You can add global styles to this file, and also import other style files */
$primary-color: var(--ion-color-primary);
$secondary-color: var(--ion-color-secondary);


:root{
    --ion-color-primary: grey;
    --ion-color-secondary: black;
    }