<ion-header class="primary-color">
    <ion-toolbar color="primary">

        <ion-buttons>
            <ion-menu-button autoHide="false"></ion-menu-button>
            <ion-segment mode="md" class="ion-justify-content-center" [(ngModel)]="currentPage"
                (ngModelChange)="segmentChanged($event)">
                <ion-segment-button value="About me">
                    <ion-label translate>General.me</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Rename">
                    <ion-label translate>General.toBeRenamed</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<!-- routerLink='/tabs/tab1/seg1' -->