<section label="Project: Animations with Gsap" [icon]="{name:'at-outline', color: 'secondary', size:'large'}">
  <ion-card-content style="height: 80vh;">
    <!-- <div class="trigger" id="trigger"></div> -->
    <!-- <div class="viewport" id="viewport"> -->
    <ion-img src="assets/scrollmagic/strand2.png" id="beach"></ion-img>
    <ion-img src="assets/scrollmagic/ship.svg" id="ship"></ion-img>
  </ion-card-content>
  <!-- <div class="box">a</div> -->
  <!-- </div> -->
  <!-- <h1>Coming soon</h1> -->
  <!-- </ion-card-content> -->
  <!-- <div class="trigger2" id="trigger2"></div>
  <div class="viewport2" id="viewport2"> -->
  <!-- <div id="rauch" class="schiffundrauch"></div>
    <div class="hinterschiff"></div>
    <ion-img src="assets/scrollmagic/strand2.png" class="strand2"></ion-img>
    <div id="welle2"></div>
    <div id="sand"></div>
    <div id="pfeile"></div>
    <div id="totefische"></div>

    <ion-img src="assets/scrollmagic/rohrneu.sv" class="roehre"></ion-img>
    <ion-img src="assets/scrollmagic/rohrneu.svg" class="roehre2 roehre"></ion-img>
    <ion-img src="assets/scrollmagic/Lupe Seite 2.svg" class="lupe schifflupekorallen"></ion-img> -->
  <!-- <div id="bm" class="bm schifflupekorallen kf"></div>
    <div id="bm2" class="bm schifflupekorallen kf"></div>
    <div id="bm3" class="bm schifflupekorallen kf"></div>
    <div id="bm4" class="bm schifflupekorallen kf"></div>
    <div id="bm5" class="bm schifflupekorallen kf"></div>
    <div id="bm6" class="bm schifflupekorallen kf"></div>
    <div id="bm7" class="bm schifflupekorallen kf"></div>
    <div id="bk1" class="bk schifflupekorallen kf"></div>
    <div id="bk2" class="bk schifflupekorallen kf"></div>
    <div id="bk3" class="bk schifflupekorallen kf"></div>
    <div id="bk4" class="bk schifflupekorallen kf"></div>
    <div id="bk5" class="bk schifflupekorallen kf"></div>
    <div id="bk6" class="bk schifflupekorallen kf"></div>
    <div id="bk7" class="bk schifflupekorallen kf"></div>
    <div id="fisch1" class="fisch"></div>
    <div id="fisch2" class="fisch"></div>
    <div id="fisch3" class="fisch"></div>
    <div id="fisch4" class="fisch"></div>
    <div id="fisch5" class="fisch"></div>
    <div id="fisch6" class="fisch"></div>
    <div id="fisch7" class="fisch"></div>
    <div id="fisch8" class="fisch"></div> -->
  <!-- <article class="artikelS32">
      <h1>Meeressand</h1>
      Dass wir auf diesem Planeten einen Mangel an Sand haben, ist eigentlich kaum zu glauben.
      Wüsten gibt es es doch genug und eigentlich wachsen diese doch mit immer steigenden Geschwindigkeit.
      Doch leider können wir dieses Sand nicht nutzen. Die einzelnen Körner sind von Wind und Wetter über
      Jahrtausende viel zu glatt und rund.
    </article>
    <article class="artikelS33">
      <h1>Korallenriffe</h1>
      Mit dem Abbau am Meeresgrund wird nicht nur Sand gepumpt sondern auch alles andere, das dort lebt.
      Auf Fische, Korallen, Krebstiere und weitere Lebensformen wird keine Rücksicht genommen und als
      Kolloteralschaden
      betrachtet.
    </article>
    <article class="artikelS34">
      <h1>Sandabbau</h1>
      Mit einem sogennanten Schwimmbaggern können 400.000 Kubikmeter Sand pro Tag vom Meerenboden
      gepumpt werden. Ohne Pause kann die Sandindustrie somit eine scheinbar grenzenlose Nachfrage
      beliefern, denn die Abbauflächen sind kostenlos.
    </article>-->
  <!-- </div> -->

  <!-- <ion-img src="../../assets/scrollmagic/ship.svg" id="ship"> -->
  <!-- </ion-img> -->
</section>