/* .trigger2{
    height: 100%;
    top: 0%;
    opacity: 0;
    position: relative;
    z-index: 3;
    
}
.viewport2{
    left: -1%;
    overflow-y: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    top: -100%;
   
}
.schiff{
    position: absolute;
    opacity: 1;
    width: 30%;
    right: 39%;
    top: 35%;
    z-index: 11;
    overflow: hidden;
    cursor: pointer;
}
.hinterschiff{
    position: absolute;
    left: 40%;
    height: 40%;
    width: 10%;
    top: 0%;
    z-index: 8;
    background-color: #b4fdff;
  }
  .strand2{
    position: absolute;
    bottom: -48%;
    width: 100%;
    height: 30%;
    opacity: 1;
    z-index: 4;
}
#welle{
    position: absolute;
    width: 100%;
    top: 10%;
    opacity: 0;
}

#sand{
    position: absolute;
    width: 100%;
    top: 18%;
    left: -2.5%;
    z-index: 8;
    opacity: 0;
}
#pfeile{
    position: absolute;
    z-index: 7;
    left: 0.7%;
    width: 100%;
    top: -20%;
    opacity: 0;
}
#rauch{
    position: absolute;
    z-index: 10;
    top: -47%;
    opacity: 0;
}
#totefische{
    position: absolute;
    width: 70%;
    z-index: 7;
    left: 21%;
    top: 15%;
    opacity: 0;
}
.roehre{
    position: absolute;
    left: 43.5%;
    width: 5%;
    opacity: 0;
    z-index: 6;
}
.lupe{
    position: absolute;
    width: 20%;
    left: 60%;
    top: 62%;
    z-index: 13;
    cursor: pointer;
    opacity: 0;
}
.bm{
    opacity: 0;
    cursor: pointer;
}
#bm{
    position: absolute;
    width: 40%;
    top: 53%;
    z-index: 8;
    left: -10%;
}
#bm2{
    position: absolute;
    width: 40%;
    top: 53%;
    z-index: 8;
    left: 5%;
}
#bm3{
    position: absolute;
    width: 40%;
    top: 63%;
    z-index: 8;
    left: -15%;
}
#bm4{
    position: absolute;
    width: 40%;
    top: 63%;
    z-index: 8;
    left: -3%;
}
#bm5{
    position: absolute;
    width: 40%;
    top: 63%;
    z-index: 8;
    left: 10%;
}
#bm6{
    position: absolute;
    width: 40%;
    top: 73%;
    z-index: 8;
    left: 5%;
}
#bm7{
    position: absolute;
    width: 40%;
    top: 73%;
    z-index: 8;
    left: -10%;
}
.bk{opacity: 0;
cursor: pointer;}
#bk1{
    position: absolute;
    width: 40%;
    top: 55%;
    z-index: 10;
    left: -8%;
}
#bk2{
    position: absolute;
    width: 40%;
    top: 55%;
    z-index: 10;
    left: 7%;
}
#bk3{
    position: absolute;
    width: 40%;
    top: 65%;
    z-index: 10;
    left: -13%;
}
#bk4{
    position: absolute;
    width: 40%;
    top: 65%;
    z-index: 10;
    left: -1%;
}
#bk5{
    position: absolute;
    width: 40%;
    top: 65%;
    z-index: 10;
    left: 12%;
}
#bk6{
    position: absolute;
    width: 40%;
    top: 75%;
    z-index: 10;
    left: 7%;
}
#bk7{position: absolute;
    width: 40%;
    top: 75%;
    z-index: 10;
    left: -8%;
}
.fisch{
    opacity: 0;
    cursor: pointer;
}
#fisch1{
    position: absolute;
    width: 8%;
    top: 80%;
    left: 10%;
    z-index: 9;
}
#fisch2{  position: absolute;
    width: 8%;
    top: 80%;
    left: 15%;
    z-index: 7;
}
#fisch3{  position: absolute;
    width: 8%;
    top: 60%;
    left: 20%;
    z-index: 13;
}
#fisch4{  position: absolute;
    width: 8%;
    top: 75%;
    left: 5%;
    z-index: 7;
}
#fisch5{  position: absolute;
    width: 8%;
    top: 70%;
    left: 23%;
    z-index: 7;
}
#fisch6{  position: absolute;
    width: 8%;
    top: 80%;
    left: 30%;
    z-index: 11;
}
#fisch7{  position: absolute;
    width: 8%;
    top: 60%;
    left: 5%;
    z-index: 13;
}
#fisch8{  position: absolute;
    width: 8%;
    top: 85%;
    left: 3%;
    z-index: 7;
}

.artikelS32{
    position: absolute;
    left: 70%;
    overflow: auto;
    z-index: 16;
    top: 50%;
}
.artikelS33{
    position: absolute;
    left: 10%;
    overflow: auto;
    top: 40%;
    z-index: 6;
}
.artikelS34{
    position: absolute;
    width: 20%;
    left: 35%;
    overflow: auto;
    top: 10%;
    z-index: 6;
} */
#ship{
    position: relative;
    cursor: pointer;
    width: 25vw;
    display: block;
    margin-top: 30vw;
    left: 70vh;
}
@media screen and (min-width: 300px) and (max-width: 780px) {
    #ship {
        width: 25vw;
        margin-top: 45vw;
    }
    #beach{

    }
}
#beach{
    position: absolute;
    bottom: 0%;
    left: -2%;
    width: 102%;
}

.keyframesforthewin{
    animation-name: slideIn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes slideIn{
    from{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.15,1.15)
    }
    to{
        transform: scale(1,1);
    }
}