<ion-header class="primary-color">
    <ion-toolbar color="primary">
        <ion-title style="text-align: center; vertical-align: middle;">
            Lukas Rieger
        </ion-title>

    </ion-toolbar>
    <!-- <ion-split-pane contentId="menuContent">
        <ion-menu side="start" contentId="menuContent">
            <ion-header>
                <ion-toolbar color="secondary">
                    <ion-title>Start Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item>Menu Item</ion-item>
                    <ion-item>Menu Item</ion-item>
                    <ion-item>Menu Item</ion-item>
                    <ion-item>Menu Item</ion-item>
                    <ion-item>Menu Item</ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="menuContent"></ion-router-outlet>
    </ion-split-pane> -->
</ion-header>