<ion-app>
  <ion-content>
    <!-- <page-one></page-one> -->
    <header></header>
    <menu></menu>
    <ion-grid>
      <ion-row class="ion-justify-content-center">

        <!-- Pages -->
        <page-one></page-one>

      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>

<!-- color="primary"style="display: flex; justify-content: center;align-items: center;justify-content: center;"> -->
<!--class="ui-grid-viewport"-->

<!-- <first></first> -->
<!-- <ion-grid>
  <ion-row>
    <ion-col size="12" size-md="8" size-lg="3" class="ion-no-padding">
      <slide1></slide1>

    </ion-col>
  </ion-row>
</ion-grid> -->